<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Master of Jokes</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        {% if session.get('user_id') %}
        <a href="{{ url_for('jokes.leave_joke') }}">Leave a Joke</a>
        <a href="{{ url_for('jokes.my_jokes') }}">My Jokes</a>
        {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
